* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --mainTransition: all 0.4s ease-in-out;
}

body {
  font-family: "Noto Serif JP", serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* start of navbar */
#navbar {
  z-index: 3;
  position: fixed;
  min-width: 100%;
  top: 0;
  left: 0;
  animation: show 0.5s ease-in-out 1;
}
#navbar ul {
  display: flex;
  background: #3fcfd4;
  justify-content: end;
  padding-right: 20px;
  height: 72px;
}

#navbar ul li {
  text-align: center;
  width: 120px;
  padding-top: 24px;
  font-size: 1.25rem;
}

.nav-links {
  display: block;
  color: black;
  min-height: 100%;
}

#navbar ul li:hover {
  /* background: rgba(60, 40, 241, 0.233); */
  background: hsla(253, 23%, 53%, 0.604);
  padding-top: 20px;
  font-size: 1.5rem;
  transition-duration: 0.5s;
}
.nav-links:hover {
  color: white;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* end of navbar */

/* -------------------------------------------------------------------------------------------------- */

/* start of welcome section */

#welcome-section {
  /* z-index: 2; */
  background: #afafaf;
  margin-top: 72px;
  /* height: calc(100vh - 72px); */
  height: 100vh;
  background: linear-gradient(#857b6e5e, #0429fb1c),
    url("https://cdn.pixabay.com/photo/2020/04/08/16/32/keyboard-5017973_1280.jpg")
      center/cover no-repeat;
}

.welcome-content {
  position: relative;
  top: 30vh;
  text-align: center;
  /* color: #3c00aa; */
}

#title {
  color: white;
  font-size: 3.5rem;
  /* font-family: "Piedra", cursive; */
  font-family: "Montaga", serif;
  /* font-weight: 00; */
  animation: slideFromRight 5s ease-in-out 1;
}

#sub-title {
  color: #931fe0;
  font-size: 2.5rem;
  font-family: "Dancing Script", cursive;
  animation: slideFromLeft 5s ease-in-out 1;
}

@keyframes slideFromRight {
  0% {
    transform: translateX(1000px);
  }
  33% {
    transform: translateX(-200px);
  }
  66% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes slideFromLeft {
  0% {
    transform: translateX(-1000px);
  }
  33% {
    transform: translateX(200px);
  }
  66% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(0px);
  }
}

/* end of welcome section */

/* -------------------------------------------------------------------------------------------------- */

/* start of project section */

#projects {
  background: #26547c9f;
  /* max-width: 100%; */
  /* height: 200vh; */
}

.projects-title {
  font-size: 2rem;
  text-decoration: underline;
  text-align: center;
  margin: 0px auto 40px auto;
  padding-top: 80px;
}

.projects-div {
  display: flex;
  flex-wrap: wrap;
  margin: auto 30px auto 30px;
  justify-content: space-around;
}

.project-tile {
  border-radius: 5%;
  margin-bottom: 60px;
  width: 520px;
  border-spacing: 20px;
  border: 0.3rem solid #374b52d2;
  border-radius: 22px;
}

.project-tile:hover .project-images {
  opacity: 0.7;
  transform: scale(1.2);
  border-top-right-radius: 31%;
  border-top-left-radius: 31%;
  transition: var(--mainTransition);
}
.project-tile:hover {
  transition: var(--mainTransition);

  -webkit-box-shadow: 1px 10px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 10px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 10px 10px 0px rgba(0, 0, 0, 0.75);
}

figure {
  margin: 0.5%;
  display: flex;
  flex-direction: column;
}

.project-image-container {
  overflow: hidden;
}

.project-images {
  max-width: 100%;
  border-top-right-radius: 5%;
  border-top-left-radius: 5%;
  display: block;
}

figcaption {
  background: #2d454ed2;
  font-size: 1.4rem;
  /* font-size: 3ex; */
  color: white;
  height: 60px;
  text-align: center;
  padding-top: 10px;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
}

.projects-button {
  text-align: center;
}
.projects-button button {
  border: 0;
  font-size: 1.2rem;
  width: 140px;
  height: 50px;
  color: white;
  background: #698f3f;
  margin-bottom: 80px;
}

.projects-button button:hover {
  box-shadow: 2px 6px 10px 0px rgba(103, 79, 173, 1);
}

/* end of project section */

/* -------------------------------------------------------------------------------------------------- */

/* start of contact section */

#contact {
  background: #303841;
  padding-top: 80px;
  min-height: 90vh;
}

#contact-heading {
  text-align: center;
  margin-bottom: 3rem;
  padding-top: 2rem;
  /* color: #413930; */
}

#contact-title {
  font-size: 3.2rem;
  letter-spacing: 0.2rem;
}

#contact-subtitle {
  font-size: 1.2rem;
  font-style: italic;
}

.contact-main-div ul {
  display: flex;
  justify-content: center;
}

.contact-main-div {
  margin-bottom: 120px;
}
.contact-lists {
  max-width: 220px;
  text-align: center;
  height: 40px;
}

.contact-links {
  display: block;
  color: white;
  margin: 4px 15px;
  font-size: 1.1rem;
}

.contact-links:hover {
  padding-top: 5px;
  transition-duration: 0.25s;
  box-shadow: 2px 2px 3px #3fcfd4;
}

i {
  margin-right: 5px;
}

.separator {
  height: 3px;
  background: #3fcfd4;
}

/* end of contact section */

/* footer section */
.contact-footer {
  font-size: 1.5rem;
  text-align: center;
  padding-top: 50px;
}

@media (max-width: 720px) {
  .contact-main-div ul {
    flex-wrap: wrap;
  }
  #contact-title {
    font-size: 2rem;
  }
  /* .contact-lists {
    border: 2px solid;
  } */
}
